<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="net.gullyweb.cordova.phonedial"
      version="0.1.0">
    <name>PhoneDial</name>
    <description>Direct Phone Dial for Android</description>
    <license>MIT</license>
    <keywords>phonegap</keywords>


    <js-module src="www/PhoneDial.js" name="PhoneDial">
        <clobbers target="window.phonedial" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PhoneDial">
                <param name="android-package" value="net.gullyweb.cordova.phonedial.PhoneDial"/>
            </feature>
        </config-file>

        <source-file src="src/android/PhoneDial.java" target-dir="src/net/gullyweb/cordova/phonedial" />
     </platform>
</plugin>